@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  color: white;
  @apply font-poppins;
}

body {
  @apply bg-secondary;
}

.bg-secondary-gradient {
  background: linear-gradient(
    141deg,
    rgba(67, 78, 99, 1) 0%,
    rgba(40, 44, 52, 1) 100%
  );
}

video {
  object-fit: 'cover';
}
